
/* .navbar  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;       
    margin: 0;
    padding: 0;         
    position: relative;
} */

.navbar {
  position: fixed;      
  left: 0;
  top: 0;
  height: 100vh;        
  width: 160px;         
  display: flex;
  align-items: center;
  z-index: 1000;
}


.navbar-buttons {
  display: flex;
  flex-direction: column;
  /* אחד מתחת לשני */
  gap: 20px;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-buttons button {
  background-color: #B08968;
  /* חום קפה */
  color: #FAF3E0;
  /* טקסט שמנת */
  /* border-radius: 50px; */
  border-radius: 0 40px 40px 0;
  border: 2px solid #4E342E;
  border-left: none;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  width: 150px;
  padding: 15px;
  
}

.navbar-buttons button:hover {
  width: 180px;
  /* background: #B08968; */
}
